{
	"insertPragma": false,
	"tabWidth": 2,
	"printWidth": 100,
	"semi": false,
	"singleQuote": true,
	"trailingComma": "none",
	"bracketSpacing": true,
	"quoteProps": "as-needed",
	"jsxBracketSameLine": true,
	"arrowParens": "avoid",
	"requirePragma": false,
	"proseWrap": "preserve",
	"htmlWhitespaceSensitivity": "ignore",
	"eslintIntegration": true,
	"tslintIntegration": true
}
